.background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./../images/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-darkblue {
  background-color: darkblue;
}

.bgdarkend {
  background-color: #101828;
}
hr {
  margin-block-end: 0;
  margin: 0;
}
